{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Eventage Email Verification Email</title>
</head>

<body style="margin:0px; background: #f8f8f8; ">
    <div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
        <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 10px">
                <tbody>
                    <tr>
                        <td style="vertical-align: top; padding-bottom:10px;" align="center"><a href="http://{{domain|escape}}" target="_blank"><img src="cid:logo.png" alt="Eventage" height="50" width="50" style="border:none;"></a>
                        <h2>Eventage</h2>
                      </a> </td>
                    </tr>
                </tbody>
            </table>
            <div style="padding: 40px; background: #fff;">
                <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td><b>Dear {{user.first_name | escape}},</b>
                                <p>This is to inform you that, Your account with Eventage has been created successfully. Please verify your email to login.</p>
                                <a href="http://{{domain|escape}}{% url 'accounts:activate' uidb64=uid token=token %}" style="display: inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #fff; background: #4fc3f7; border-radius: 60px; text-decoration:none;"> Verify Email </a></td>
                        </tr>
                        <tr>
                            <td style="border-top:1px solid #f6f6f6; padding-top:20px; color:#777">If the button above does not work, try copying and pasting the URL into your browser. If you continue to have problems, please contact your administrator/supervisor.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align: center; font-size: 12px; color: #b2b2b5; margin-top: 20px">
              <p> This is a system generated mail. Please don't reply to this email.
                  <br>
              </p>
            </div>
        </div>
    </div>
</body>

</html>
