<!DOCTYPE html>
{% load static %}
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/logos/logo.png' %}">
    <title>Change Password</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/ampleadmin/" />
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:#f6f6f6;">
            <div class="auth-box">
              <div>
                  <div class="logo">
                      <span class="db"><img src="{% static 'assets/images/logos/logo.png' %}" alt="homepage" class="light-logo" height="43" width="43" /></span>
                      <h5 class="font-medium mb-3 mt-3">Change Password</h5>
                  </div>
                  <!-- Form -->
                  <div class="row">
                      <div class="col-12">
                          <form class="form-horizontal mt-3" method="post">
                            {% csrf_token %}
                              <small style="color:red;">{{form.non_field_errors | striptags}}</small>
                              <small style="color:red;">{{form.old_password.errors | striptags}}</small>
                              <div class="form-group row">
                                  <div class="col-12">
                                      <input class="form-control form-control-lg" type="password" name="old_password" required placeholder="Old Password">
                                  </div>
                              </div>
                              <small style="color:red;">{{form.new_password1.errors | striptags}}</small>
                              <div class="form-group row">
                                  <div class="col-12">
                                      <input class="form-control form-control-lg" type="password" name="new_password1" required placeholder="New Password">
                                  </div>
                              </div>
                              <small style="color:red;">{{form.new_password2.errors | striptags}}</small>
                              <div class="form-group row">
                                  <div class="col-12">
                                      <input class="form-control form-control-lg" type="password" name="new_password2" required placeholder="Confirm New Password">
                                  </div>
                              </div>
                              <div class="form-group text-center">
                                  <div class="col-xs-12 pb-3">
                                      <button class="btn btn-block btn-lg btn-info" type="submit">Set Password</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    // ==============================================================
    // Login and Recover Password
    // ==============================================================
    $('#to-recover').on("click", function() {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
    });
    </script>
</body>

</html>
