{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% load widget_tweaks %}
{% block title %}
  Company Settings
{% endblock %}

{% block css %}
  <style>
    label {
      margin-bottom:-0.5rem!important;
    }
  </style>
{% endblock %}

{% block breadcrumb %}
  Company Settings
{% endblock %}

{% block content %}
<div class="page-content container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xlg-6 col-md-6 col-sm-12 col-xs-12 mx-auto">
      <form method="post">
        <div class="card">
          <h4 class="p-2 card-title bg-info text-white self-align-center">Company Details</h4>
          <div class="card-body">
              {% csrf_token %}
              <table class="table table-borderless">
                <tbody>
                  {% for field in company_form %}
                    <tr>
                      <th>{{field.label_tag}}</th>
                      <td>{{field}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>

        <div class="card">
          <h4 class="p-2 card-title bg-info text-white self-align-center">Extra Event Fields</h4>
          <div class="card-body">
            <table class="table table-borderless">
              <tbody id="event_extra-forms">
                {{event_extra_formset.management_form}}
                {% for form in event_extra_formset %}
                  {% for field in form %}
                    <tr class="event_extra-{{forloop.parentloop.counter0}}-form">
                      {% if field.name|contains:'DELETE' %}
                        {% render_field field style="display:none;" %}
                      {% elif field.field.widget.input_type != 'hidden' %}
                        <th>
                          {{field.label_tag}}
                        </th>
                        <td>
                          <small style="color:red;">{{field.errors | striptags}}</small>
                          {{field}}
                        </td>
                      {% else %}
                        {{field}}
                      {% endif %}
                    </tr>
                  {% endfor %}
                  <tr class="border-bottom border-light event_extra-{{forloop.counter0}}-form">
                    <td colspan="2">
                      {% if forloop.last %}
                        <button class="btn btn-small btn-success float-right" type="button" onclick="insertExtraForm('event_extra', this);"><i class="fa fa-plus"></i></button>
                      {% else %}
                        <button class="btn btn-small btn-danger float-right" type="button" onclick="removeForm({{forloop.counter0}}, 'event_extra');"><i class="fa fa-minus"></i></button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <input type="submit" class="btn btn-outline-success btn-rounded btn-sm float-right ml-2" name="submit" value="Update">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script >

  // add and remove forms
  function escapeRegExp(str) {
      return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
  }

  function replaceAll(str, find, replace) {
      return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
  }

  function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }

  function insertExtraForm(prefix, el){
    let total_forms = $('#id_'+prefix+'-TOTAL_FORMS').val()
    let newEmptyForm = `
    {% for field in event_extra_formset.empty_form %}
      <tr class="`+prefix+`-`+total_forms+`-form">
        {% if field.name|contains:'DELETE' %}
          {% render_field field style="display:none;" %}
        {% elif field.field.widget.input_type != 'hidden' %}
          <th>
            {{field.label_tag}}
          </th>
          <td>
            <small style="color:red;">{{field.errors | striptags}}</small>
            {{field}}
          </td>
        {% else %}
          {{field}}
        {% endif %}
      </tr>
    {% endfor %}
    <tr class="border-bottom border-light `+prefix+`-` + total_forms + `-form">
      <td colspan="2">
        <button class="btn btn-small btn-success float-right" type="button" onclick="insertExtraForm('`+prefix+`', this);"><i class="fa fa-plus"></i></button>
      </td>
    </tr>`;
    newEmptyForm = replaceAll(newEmptyForm, '__prefix__', total_forms);
    $(el).replaceWith(`<button class="btn btn-small btn-danger float-right" type="button" onclick="removeForm(`+(total_forms-1)+`, '`+prefix+`');"><i class="fa fa-minus"></i></button>`);
    $('#'+prefix+'-forms').append(newEmptyForm);
    $('#id_'+prefix+'-TOTAL_FORMS').val(++total_forms);
  }

  function removeForm(index, prefix){
    $('.'+prefix+'-'+index+'-form').each((j, dom) => {
      $(dom).css('display', 'none');
    });

    $('#id_'+prefix+'-'+index+'-DELETE').prop('checked', true)
  }

    $('select').each((i, sel) => {
      console.log('working');
      $(sel).change(function(){
        choiceTypeFieldId = '#' + $(this).attr('id').replace('type', 'dropdown_choices');
        console.log(choiceTypeFieldId);
        if($(this).val() == '4'){
          $(choiceTypeFieldId).removeAttr('readonly')
        }
        else{
          $(choiceTypeFieldId).attr('readonly', true)
        }
      })
    })

    $(document).ready(function(){
      $('textarea').each(function(){
        if($(this).text() != ''){
          $(this).removeAttr('readonly')
        }
      })
    })
  </script>
{% endblock %}
