<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/logos/logo.png' %}">
    <title>Sign Up</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/ampleadmin/" />
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:#f6f6f6;">
            <div class="auth-box" style="margin-top:3%!important;margin-bottom:3%!important;">
                <div id="loginform">
                    <div class="logo">
                        <span class="db"><img src="{% static 'assets/images/logos/logo.png' %}" alt="homepage" class="light-logo" height="43" width="43" /></span>
                        <h5 class="font-medium mb-3 mt-3">Sign Up</h5>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <div class="col-12">
                            <form class="form-horizontal mt-3" method="post">
                                {% csrf_token %}
                                <small style="color:red;">{{user_form.non_field_errors | striptags}}</small>
                                <small style="color:red;">{{company_form.non_field_errors | striptags}}</small>
                                <small style="color:red;">{{company_form.name.errors | striptags}}</small>
                                <div class="input-group mb-3">
                                  {% render_field company_form.name class='form-control form-control-lg' placeholder='Company Name' aria-label='name' aria-describedby='basic-addon1' autofocus=True %}
                                </div>
                                <small style="color:red;">{{user_form.email.errors | striptags}}</small>
                                <div class="input-group mb-3">
                                  {% render_field user_form.email class='form-control form-control-lg' placeholder='Email' aria-label='Email' aria-describedby='basic-addon1' %}
                                </div>
                                <small style="color:red;">{{user_form.first_name.errors | striptags}}</small>
                                <div class="input-group mb-3">
                                  {% render_field user_form.first_name class='form-control form-control-lg' placeholder='First Name' aria-label='first_name' aria-describedby='basic-addon1' %}
                                </div>
                                <small style="color:red;">{{user_form.last_name.errors | striptags}}</small>
                                <div class="input-group mb-3">
                                  {% render_field user_form.last_name class='form-control form-control-lg' placeholder='Last Name' aria-label='last_name' aria-describedby='basic-addon1' %}
                                </div>
                                <small style="color:red;">{{user_form.password1.errors | striptags}}</small>
                                <div class="input-group mb-3">
                                  {% render_field user_form.password1 class='form-control form-control-lg' placeholder='Password' aria-label='password1' aria-describedby='basic-addon1' %}
                                </div>
                                <small style="color:red;">{{user_form.password2.errors | striptags}}</small>
                                <div class="input-group mb-3">
                                  {% render_field user_form.password2 class='form-control form-control-lg' placeholder='Confirm Password' aria-label='password2' aria-describedby='basic-addon1' %}
                                </div>
                                <div class="form-group text-center">
                                    <div class="col-xs-12 pb-3">
                                        <input class="btn btn-block btn-lg btn-info" type="submit" value="SIGN UP">
                                    </div>
                                </div>
                                <div class="form-group mb-0 mt-2 ">
                                    <div class="col-sm-12 text-center ">
                                        Already have an account? <a href="{% url 'accounts:login' %}" class="text-info ml-1 "><b>Sign In</b></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    // ==============================================================
    // Login and Recover Password
    // ==============================================================
    $('#to-recover').on("click", function() {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
    });
    </script>
</body>

</html>
