{% extends 'base.html' %}

{% block title %}
Users
{% endblock %}

{% block css %}

{% endblock %}

{% block breadcrumb %}
  Users
{% endblock %}

{% block buttons %}
  <li class="breadcrumb-item">
    {% if user.type != 'n' %}
    <a class="float-right breadcrumb-link" href="{% url 'accounts:new_user' %}">
      <button type="button" class="btn btn-outline-success btn-rounded btn-sm" name="button">Add New User</button>
    </a>
    {% endif %}
  </li>
{% endblock %}

{% block content %}
  <div class="page-content container-fluid">
    <div class="row">
      {% for user_obj in object_list %}
        <div class="col-lg-3 col-xlg-3 col-md-3">
            <div class="card">
                <div class="card-body">
                    {% if user.type != 'n' %}
                      {% if user.type != 'm' or user_obj.type == 'n' %}
                        <a href="{% url 'accounts:user_update' pk=user_obj.pk %}" class="float-right"><i class="mdi mdi-pencil " style="font-size:1.2em;"></i></a>
                      {% endif %}
                    {% endif %}
                    <center> <img src="{{user_obj.profile_pic.url}}" class="rounded-circle" width="150" height="150" style="object-fit:cover;" />
                        <h4 class="card-title mt-2">{{user_obj.first_name}} {{user_obj.last_name}}</h4>
                        <h6 class="card-subtitle">{% if user_obj.type == 'n' %}Agent{% else %}Manager{% endif %}</h6>
                    </center>
                </div>
                <div>
                    <hr> </div>
                <div class="card-body"> <small class="text-muted">Email address </small>
                    <h6>{{user_obj.email}}</h6> <small class="text-muted pt-4 db">Phone</small>
                    <h6>{{user_obj.phone}}</h6>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
