{% extends 'base.html' %}

{% block title %}
  User Detail
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.company == user_obj.company %}
  <div class="page-breadcrumb border-bottom">
      <div class="row">
          <div class="col-lg-8 col-md-8 col-xs-12 align-self-center">
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <h5 class="font-medium text-uppercase mt-1 pt-2">User Details</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 align-self-center">
              <nav aria-label="breadcrumb" class="float-md-right float-left">
                  <ol class="breadcrumb mb-0 justify-content-end p-0">
                      <li class="breadcrumb-item"><a href="{% url 'accounts:user_update' pk=user_obj.pk %}" class="float-right"> <button type="button" class="btn btn-success btn-sm" name="button">Edit</button> </a></li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
  <div class="page-content container-fluid mt-1">
    <div class="row">
      <div class="col-lg-3 col-xlg-3 col-md-3">
          <div class="card">
              <a href="#"><i class="mdi mdi-pencil float-right" style="font-size:1.2em;"></i></a>
              <div class="card-body">
                  <center class="mt-2"> <img src="{{user_obj.profile_pic.url}}" class="rounded-circle" width="150" />
                      <h4 class="card-title mt-2">{{user_obj.first_name}} {{user_obj.last_name}}</h4>
                      <h6 class="card-subtitle">{% if user_obj.type == 'n' %}Agent{% else %}Manager{% endif %}</h6>
                  </center>
              </div>
              <div>
                  <hr> </div>
              <div class="card-body"> <small class="text-muted">Email address </small>
                  <h6>{{user_obj.email}}</h6> <small class="text-muted pt-4 db">Phone</small>
                  <h6>{{user_obj.phone}}</h6> <small class="text-muted pt-4 db">Address</small>
                  <h6>{{user_obj.address_line_1}}, {{user_obj.address_line_2}}, {{user_obj.city}}, {{user_obj.state}}, {{user_obj.country}} - {{user_obj.pincode}}</h6>
              </div>
          </div>
      </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="card">
                <div class="card-body">
                  <p>Name: {{user_obj.first_name}}  {{user_obj.last_name}}</p>
                  <p>Type: {{user_obj.type}}</p>
                  <p>Phone: {{user_obj.phone}}</p>
                  <p>Profile Pic:
                  {% if user_obj.profile_pic %}
                    <img src="{{user_obj.profile_pic.url}}" height="100px" alt="Profile Pic.">
                  {% else %}
                    No pic.
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="card">
                <h2 class="card-header">Address</h2>
                <div class="card-body">
                  <p>Address Line 1: {{user_obj.address_line_1}}</p>
                  <p>Address Line 2: {{user_obj.address_line_2}}</p>
                  <p>City: {{user_obj.city}}</p>
                  <p>State: {{user_obj.state}}</p>
                  <p>Country: {{user_obj.country}}</p>
                  <p>Pincode: {{user_obj.pincode}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
{% else %}

{% endif %}
{% endblock %}
