* {
    box-sizing: border-box;
}

.bg-light{
  background-color: #edf1f5 !important;
}

.my-breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #8898aa;
}

thead input {
  width: 100%;
}
