<!DOCTYPE html>
{% load static %}
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.ico">
    {% block meta %}
    {% endblock %}

    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ampleadmin/" />
    <!-- chartist CSS -->
    <link href="/static/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="/static/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!--c3 CSS -->
    <link href="/static/assets/libs/morris.js/morris.css" rel="stylesheet">
    <link href="/static/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <link href="/static/assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    {% block css %}

    {% endblock %}
    <style media="screen">
      /* time picker css */
      .bootstrap-timepicker-widget table td input {
          width: 50px!important;
          margin: 0!important;
          text-align: center!important;
      }

      .breadcrumb-item+.breadcrumb-item::before {
          display: inline-block;
          padding-right: .5rem;
          color: #8898aa;
          content: ""!important;
      }
      .noresize {
        resize: none;
      }

      label{
        margin-bottom: -0.5rem!important;
      }
    </style>
    <!-- needed css -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
</head>

<body style="min-height:100vh;">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" style="min-height:100vh;">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin2">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                <a class="navbar-brand d-block d-md-none" href="/">
                    <!-- Logo icon -->
                    {% comment %}
                    <b class="logo-icon">
                        <img style="height: 40px;" src="/static/assets/images/logos/logo.png" alt="homepage" class="light-logo" />
                    </b>
                    {% endcomment %}
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">
                      <!-- Light Logo text -->
                      <h1><strong class="font-weight-normal"> EventAge</strong></h1>
                    </span>
                </a>
                <div class="d-none d-md-block text-center">
                    <a class="sidebartoggler waves-effect waves-light d-flex align-items-center side-start" href="javascript:void(0)" data-sidebartype="full">
                        <i class="mdi mdi-menu"></i>
                        <span class="navigation-text ml-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 170px;"></span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Toggle which is visible on mobile only -->
                <!-- ============================================================== -->
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-left mr-auto">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <li class="nav-item border-right">
                        <a class="nav-link navbar-brand d-none d-md-block" href="/">
                            <!-- Logo icon -->
                            {% comment %}
                            <b class="logo-icon">
                                <img style="height: 40px" src="{% static 'assets/images/logos/logo-old.png' %}" alt="homepage" class="light-logo" />
                            </b>
                            {% endcomment %}

                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text h2">
                              <!-- Light Logo text -->
                              <strong class="font-weight-normal"> EventAge</strong>
                            </span>
                        </a>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-right">
                    <!-- ============================================================== -->
                    <!-- User profile -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{user.profile_pic.url}}" alt="user" class="rounded-circle bg-white" width="31" height="31" style="object-fit:cover;">
                            <span class="ml-2 user-text font-medium">{{user.first_name }}</span><span class="fas fa-angle-down ml-2 user-text"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right user-dd">
                            <div class="d-flex no-block align-items-center p-3 mb-2 border-bottom ">
                                <div><img src="{{user.profile_pic.url}}" alt="user" class="rounded-circle bg-white" width="80" height="80" style="object-fit:cover;"></div>
                                <div class="ml-2">
                                    <h4 class="mb-0">{{user.first_name}} {{user.last_name}}</h4>
                                    <p class=" mb-0 text-muted">{{user.get_type_display}}</p>
                                    <p class=" mb-0 text-muted">{{user.email}}</p>
                                    {# <a href="javascript:void(0)" class="btn btn-sm btn-danger text-white mt-2 btn-rounded" data-toggle="modal" data-target="#ProfileModal">Update Profile</a> #}
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:change_password' %}"><i class="fas fa-unlock mr-1 ml-1"></i>Change Password</a>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}"><i class="fa fa-power-off mr-1 ml-1"></i> Logout</a>
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin1">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="sidebar-item">
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item">
                                <a href="javascript:void(0)" class="sidebar-link">
                                    <i class="ti-user"></i>
                                    <span class="hide-menu"> My Profile </span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a href="javascript:void(0)" class="sidebar-link">
                                    <i class="ti-settings"></i>
                                    <span class="hide-menu"> Account Setting </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="{% url 'accounts:logout' %}" class="sidebar-link">
                                    <i class="fas fa-power-off"></i>
                                    <span class="hide-menu"> Logout </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% comment %}
                    {% if user.type != '0' or user.is_superuser %}
                    <li class="sidebar-item">
                        <a href="{% url 'home' %}" class="sidebar-link">
                            <i class="mdi mdi-view-dashboard"></i>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                    {% endif %}
                    {% endcomment %}
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'pageGenerator:event-list' %}" aria-expanded="false">
                            <i class="mdi mdi-calendar-multiple-check"></i>
                            <span class="hide-menu">Events</span>
                        </a>
                    </li>

                    {% if user.type != '0' or user.is_superuser %}
                      <li class="sidebar-item">
                          <a class="sidebar-link" href="{% url 'accounts:user_list' %}" aria-expanded="false">
                              <i class="mdi mdi-account-multiple"></i>
                              <span class="hide-menu">Users</span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link" href="{% url 'accounts:company_settings' pk=user.company.pk %}" aria-expanded="false">
                              <i class="far fa-sun"></i>
                              <span class="hide-menu">Settings</span>
                          </a>
                      </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb bg-light">
            <div class="row">
                <div class="col-6 p-2">
                    <h5 class="font-medium text-uppercase mb-0">
                      {% block breadcrumb %}

                      {% endblock %}
                    </h5>
                </div>
                <div class="col-6">
                    <nav aria-label="breadcrumb" class=" float-right">
                        <ol class="breadcrumb mb-0 justify-content-end p-0 bg-light">
                          {% block buttons %}

                          {% endblock %}
                            {% comment %}
                            <li class="breadcrumb-item"><a href="/home/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            {% endcomment %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>



        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->

        <!-- Container fluid  -->
        <!-- ============================================================== -->
        {% block content %}
        {% endblock %}
        </div>

        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->

        <!-- add action modal content -->
        {% comment %}
        <div id="ProfileModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="ProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="ProfileModalLabel">Update Profile</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <form method="post" id="action-form" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="modal-body">
                        <div class="row">
                          {% for field in update_form %}
                          <div class="col-md-{% if field|input_type == 'Textarea' %}12{% else %}6{% endif %} col-sm-12">
                            <div class="form-group">
                              <small><label class="control-label mb-0" for="{{field.id_for_label}}" style="margin-bottom:0px!important;">{{field.label_tag}}</label></small>
                              {{field}}
                          </div>
                        </div>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-outline-info btn-rounded btn-sm waves-effect" data-dismiss="modal">Close</button>
                          <input type="submit" name="update_profile" value="Update Profile"
                          class="btn btn-outline-success btn-sm btn-rounded">
                      </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal -->

        {% endcomment %}

    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->

</div>
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- apps -->
<script src="/static/dist/js/app.min.js"></script>
<script src="/static/dist/js/app.init.mini-sidebar.js"></script>
{# <script src="/static/dist/js/app-style-switcher.js"></script> #}
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/static/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="/static/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/static/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/static/dist/js/custom.min.js"></script>
<!-- This Page JS -->
<script src="/static/assets/libs/chartist/dist/chartist.min.js"></script>
{#<script src="/static/dist/js/pages/chartist/chartist-plugin-tooltip.js"></script>#}
<script src="/static/assets/extra-libs/c3/d3.min.js"></script>
<script src="/static/assets/extra-libs/c3/c3.min.js"></script>
<script src="/static/assets/libs/raphael/raphael.min.js"></script>
<script src="/static/assets/libs/morris.js/morris.min.js"></script>
<script src="/static/assets/libs/moment/min/moment.min.js"></script>
<script src="/static/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/static/dist/js/pages/calendar/cal-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script>
$(document).ready(function(){
  $('#user-link').css('float','right');

  $('.mydatepicker').datepicker({
          format: 'dd/mm/yyyy',
          todayHighlight: true,
          autoclose:true
      });
})
</script>
{% block js %}
{% endblock %}

</body>
</html>
