
{% load static %}
<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/logos/ad_favico.ico' %}">
    <title>Thank You</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/ampleadmin/" />
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
  <style>
      .error-box .error-title {
        /* FONT-WEIGHT: 900; */
        font-size: 100px;
        font-weight: 500;
        text-shadow: 4px 4px 0 #fff, 6px 6px 0 #313131;
        line-height: 210px;
      }

    .error-box .error-body {
      padding-top: 10%;
    }

    .error-box {
      height: 100%;
      position: fixed;
      background: #fff;
      width: 100%;
    }
  </style>
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="error-title">THANK YOU</h1>

                {% comment %}
                  <h3 class="text-uppercase error-subtitle">FOR YOUR REGISTRATION. A REPRESENTATIVE WILL GET BACK TO YOU SOON.</h3>
                  <p class="text-muted mt-4 mb-4">IF YOU WISH TO KEEP A COPY OF YOUR APPLICATION, CLICK ON THE DOWNLOAD BUTTON.</p>
                {% endcomment %}
              </div>
              {% comment %}
              <div class="col-4 text-center mx-auto">
                <a href="javaScript:void(0)" class="btn btn-info btn-rounded btn-block waves-effect waves-light mb-5">GO TO HOME PAGE</a>
              </div>
              {% endcomment %}
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="{% static '/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    </script>
</body>

</html>
