{% extends "base.html" %}
{% load filters %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
  Event - {{event.event_name}}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.css">
<style media="screen">
  .modal-dialog{
      position: relative;
      display: table; /* This is important */
      overflow-y: auto;
      overflow-x: auto;
      width: auto;
      min-width: 300px;
  }
</style>
{% endblock %}

{% block breadcrumb %}
  Event - {{event.event_name}}
{% endblock %}

{% block buttons %}
<li class="breadcrumb-item">
  <a class="float-right breadcrumb-link" href="{% url 'pageGenerator:html-page' pk=event.pk slug=event.event_name|slugify %}" target="_blank">
    <button type="button" class="btn btn-outline-success btn-sm btn-rounded" name="button">HTML Page</button>
  </a>
</li>
{% endblock %}

{% block content %}
<div class="page-content container-fluid pt-2">
  <div class="col-lg-12 col-md-12 col-sm-12 pb-0">
      <div class="tab-container">
        <ul class="nav nav-tabs customtab" role="tablist">
          <li class="nav-item">
            <a class="nav-link {% if request.session.active_tab == 1 %}active show{%endif%}" href="#event-details" data-toggle="tab" role="tab" aria-selected="true">
              <span class="hidden-xs-down">Event Details</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.session.active_tab == 2 %}active show{%endif%}" href="#speaker-form" data-toggle="tab" role="tab" aria-selected="false">
              <span class="hidden-xs-down">Speaker Form</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.session.active_tab == 3 %}active show{%endif%}" href="#speakers" data-toggle="tab" role="tab" aria-selected="false">
              <span class="hidden-xs-down">Speakers</span>
            </a>
          </li>
        </ul>
        <div class="tab-content tabcontent-border mb-4 p-4">

          <div class="tab-pane {% if request.session.active_tab == 1 %}active show{%endif%}" id="event-details" role="tabpanel">
            <div class="row pt-2 pb-1 {% if request.session.event_form_active == 1 %}d-none{% else %}d-flex{% endif %}" id="event-text">
              <div class="col-12">
                <button type="button" class="btn btn-sm btn-outline-success mb-2 btn-rounded float-right" name="button" onclick="switchToForm()" id="event-update">
                  Update Event
                </button>
              </div>
              <div class="col-lg-6 col-xlg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="card">
                    <h4 class="p-2 card-title bg-info text-white self-align-center">Event Specifics</h4>
                    <div class="card-body table-responsive">
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <th>Event Name:</th>
                            <td>{{event.event_name}}</td>
                          </tr>

                          <tr>
                            <th>Venue:</th>
                            <td>{{event.venue}}</td>
                          </tr>

                          <tr>
                            <th>Start Date:</th>
                            <td>{{event.start_date}}</td>
                          </tr>

                          <tr>
                            <th>End Date:</th>
                            <td>{{event.end_date}}</td>
                          </tr>

                          {% for field in extra_fields %}
                            <tr>
                              <th>{{field.question}}:</th>
                              <td>{{field}}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>

                  {# pass details #}
                  <div class="card">
                    <h4 class="p-2 card-title bg-info text-white self-align-center">Event Pass Details</h4>
                    <div class="card-body table-responsive">
                      <table class="table table-borderless">
                        <thead>
                          <th>Pass Name</th>
                          <th>Price</th>
                        </thead>
                        <tbody>
                          {% for pass in passes %}
                            <tr>
                              <td>{{pass.name}}:</td>
                              <td>{{pass.price}}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>

                  {# session details #}
                  <div class="card">
                    <h4 class="p-2 card-title bg-info text-white self-align-center">Event Session Details</h4>
                    <div class="card-body table-responsive">
                      <table class="table table-borderless">
                        <thead>
                          <th>Day/Session</th>
                          <th>Title</th>
                          <th>Subtitle</th>
                        </thead>
                        <tbody>
                          {% for session in sessions %}
                            <tr>
                              <th>{{session.day_or_session}}:</th>
                              <td>{{session.title}}</td>
                              <td>{{session.subtitle}}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>

              {# html specifics #}
              <div class="col-lg-6 col-xlg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="card">
                    <h4 class="p-2 card-title bg-info text-white self-align-center">HTML Page Specifics</h4>
                    <div class="card-body table-responsive">
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <th>Main Title:</th>
                            <td>{{event.main_title}}</td>
                          </tr>

                          <tr>
                            <th>Tickets Available:</th>
                            <td>{{event.tickets_available}}</td>
                          </tr>

                          <tr>
                            <th>Promotional Period:</th>
                            <td>{{event.promotion_period}}</td>
                          </tr>

                          <tr>
                            <th>Promotional Text:</th>
                            <td>{{event.promotional_text}}</td>
                          </tr>

                          <tr>
                            <th>Email Copy:</th>
                            <td>{{event.email_copy}}</td>
                          </tr>

                          <tr>
                            <th>Event Slogan Poster:</th>
                            <td>
                              {% if event.event_slogan_poster %}
                                <img src="{{event.event_slogan_poster.url}}" alt="slogan-poster" height="100">
                              {% endif %}
                            </td>
                          </tr>

                          <tr>
                            <th>Event Logo:</th>
                            <td>
                              {% if event.event_logo %}
                                <img src="{{event.event_logo.url}}" alt="event-logo" height="100">
                              {% endif %}
                            </td>
                          </tr>

                          <tr>
                            <th>Event Poster:</th>
                            <td>
                              {% if event.event_poster_image %}
                                <img src="{{event.event_poster_image.url}}" alt="event-poster" height="100">
                              {% endif %}
                            </td>
                          </tr>

                          <tr>
                            <th>Host Title</th>
                            <td>{{event.host_title}}</td>
                          </tr>

                          <tr>
                            <th>Poster Title</th>
                            <td>{{event.poster_title}}</td>
                          </tr>

                          <tr>
                            <th>Event Poster Background:</th>
                            <td>
                              {% if event.poster_image_background %}
                                <img src="{{event.poster_image_background.url}}" alt="poster-background" height="100">
                              {% endif %}
                            </td>
                          </tr>

                          <tr>
                            <th>Event Footer Background:</th>
                            <td>
                              {% if event.footer_background %}
                                <img src="{{event.footer_background.url}}" alt="footer-background" height="100">
                              {% endif %}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>

            {# event forms #}
            <div class="row pt-2 pb-1 {% if request.session.event_form_active == 0 %}d-none{% else %}d-flex{% endif %}" id="event-form">
              <form method="post" class="mr-3 ml-3" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-6 col-xlg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="card">
                        <h4 class="p-2 card-title bg-info text-white self-align-center">Event Specifics</h4>
                        <div class="card-body">
                          <table class="table table-borderless" id="event-specifics-form">
                            <tbody>
                              {% for field in event_form %}
                                <tr>
                                  <th>{{field.label_tag}}</th>
                                  <td>
                                    <small style="color:red;">{{field.errors | striptags}}</small>
                                    {{field}}
                                  </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>

                      {# pass formset #}
                      <div class="card">
                        <h4 class="p-2 card-title bg-info text-white self-align-center">Pass Details</h4>
                        <div class="card-body">
                          <table class="table table-borderless">
                            <tbody id="pass-forms">
                              {{pass_formset.management_form}}
                              {% for form in pass_formset %}
                                {% for field in form %}
                                  <tr class="pass-{{forloop.parentloop.counter0}}-form">
                                    {% if field.name|contains:'DELETE' %}
                                      {% render_field field style="display:none;" %}
                                    {% elif field.field.widget.input_type != 'hidden' %}
                                      <th>
                                        {{field.label_tag}}
                                      </th>
                                      <td>
                                        <small style="color:red;">{{field.errors | striptags}}</small>
                                        {{field}}
                                      </td>
                                    {% else %}
                                      {{field}}
                                    {% endif %}
                                  </tr>
                                {% endfor %}
                                <tr class="border-bottom border-light pass-{{forloop.counter0}}-form">
                                  <td colspan="2">
                                    {% if forloop.last %}
                                      <button class="btn btn-small btn-success float-right" type="button" onclick="insertPassForm('pass', this);"><i class="fa fa-plus"></i></button>
                                    {% else %}
                                      <button class="btn btn-small btn-danger float-right" type="button" onclick="removeForm({{forloop.counter0}}, 'pass');"><i class="fa fa-minus"></i></button>
                                    {% endif %}
                                  </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>

                      {# session formsets #}
                      <div class="card">
                        <h4 class="p-2 card-title bg-info text-white self-align-center">Session Details</h4>
                        <div class="card-body">
                          <table class="table table-borderless">
                            <tbody id="session-forms">
                              {{session_formset.management_form}}
                              {% for form in session_formset %}
                                {% for field in form %}
                                  <tr class="session-{{forloop.parentloop.counter0}}-form">
                                    {% if field.name|contains:'DELETE' %}
                                      {% render_field field style="display:none;" %}
                                    {% elif field.field.widget.input_type != 'hidden' %}
                                      <th>
                                        {{field.label_tag}}
                                      </th>
                                      <td>
                                        <small style="color:red;">{{field.errors | striptags}}</small>
                                        {{field}}
                                      </td>
                                    {% else %}
                                      {{field}}
                                    {% endif %}
                                  </tr>
                                {% endfor %}
                                <tr class="border-bottom border-light session-{{forloop.counter0}}-form">
                                  <td colspan="2">
                                    {% if forloop.last %}
                                      <button class="btn btn-small btn-success float-right" type="button" onclick="insertSessionForm('session', this);"><i class="fa fa-plus"></i></button>
                                    {% else %}
                                      <button class="btn btn-small btn-danger float-right" type="button" onclick="removeForm({{forloop.counter0}}, 'session');"><i class="fa fa-minus"></i></button>
                                    {% endif %}
                                  </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>

                  {# html specifics #}
                  <div class="col-lg-6 col-xlg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="card">
                        <h4 class="p-2 card-title bg-info text-white self-align-center">HTML Page Specifics</h4>
                        <div class="card-body">
                          {# html specific form #}
                          <table class="table table-borderless">
                            <tbody>
                              {% for field in event_html_form %}
                                {% if field.field.widget.input_type != 'hidden' %}
                                  <tr>
                                    <th>{{field.label_tag}}</th>
                                    <th>
                                      <small style="color:red;">{{field.errors | striptags}}</small>
                                      {{field}}
                                    </th>
                                  </tr>
                                {% else %}
                                  {{field}}
                                {% endif %}
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>
                  <div class="col-12">
                    <input type="submit" class="btn btn-outline-success btn-rounded btn-sm float-right" name="update_event" value="Update Event">
                    <button type="button" class="btn btn-outline-info btn-rounded btn-sm float-right mr-2" name="button" onclick="switchToText()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="tab-pane {% if request.session.active_tab == 2 %}active show{% endif %}" id="speaker-form" role="tabpanel">
            <div class="row pt-2 pb-1">
              <div class="col-12">
                <a href="{% url 'pageGenerator:speaker-form' token=event.token %}" target="_blank">
                  <button type="button" class="btn btn-sm btn-outline-success mb-2 btn-rounded float-right" name="button">
                    Speaker Form
                  </button>
                </a>
              </div>
              <div class="col-lg-6 col-xlg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="card">
                    <h4 class="p-2 card-title bg-info text-white self-align-center">Speaker Form (As seen by speaker)</h4>
                    <div class="card-body table-responsive">
                      {# html specific form #}
                      <table class="table table-borderless">
                        <tbody>
                          {% for field in speaker_form %}
                            <tr>
                              {% if field.field.widget.input_type != 'hidden' %}
                                <th class="align-middle">{{field.label_tag}}</th>
                                <th>{{field}}</th>
                              {% endif %}
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>

              <div class="col-lg-6 col-xlg-6 col-md-6 col-sm-12 col-xs-12">
                  <form method="post">
                    {% csrf_token %}
                    <div class="card">
                      <h4 class="p-2 card-title bg-info text-white self-align-center">Additional Fields for Speakers</h4>
                      <div class="card-body table-responsive">
                        {# html specific form #}
                        <table class="table table-borderless">
                          <tbody id="extra_speaker_field-forms">
                            {{extra_speaker_field_formset.management_form}}
                            {% for form in extra_speaker_field_formset %}
                              {% for field in form %}
                                <tr class="extra_speaker_field-{{forloop.parentloop.counter0}}-form">
                                  {% if field.name|contains:'DELETE' %}
                                    {% render_field field style="display:none;" %}
                                  {% elif field.field.widget.input_type != 'hidden' %}
                                    <th>
                                      {{field.label_tag}}
                                    </th>
                                    <td>
                                      <small style="color:red;">{{field.errors | striptags}}</small>
                                      {{field}}
                                    </td>
                                  {% else %}
                                    {{field}}
                                  {% endif %}
                                </tr>
                              {% endfor %}
                              <tr class="border-bottom border-light extra_speaker_field-{{forloop.counter0}}-form">
                                <td colspan="2">
                                  {% if forloop.last %}
                                    <button class="btn btn-small btn-success float-right" type="button" onclick="insertExtraSpeakerFieldForm('extra_speaker_field', this);"><i class="fa fa-plus"></i></button>
                                  {% else %}
                                    <button class="btn btn-small btn-danger float-right" type="button" onclick="removeForm({{forloop.counter0}}, 'extra_speaker_field');"><i class="fa fa-minus"></i></button>
                                  {% endif %}
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        <input type="submit" class="btn btn-outline-success btn-rounded btn-sm float-right mr-1" name="extra_speaker_fields" value="Add Fields">
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>

          <div class="tab-pane {% if request.session.active_tab == 3 %}active show{% endif %}" id="speakers" role="tabpanel">
            <div class="row">
              {% for speaker in e_speakers %}
                <div class="col-lg-3 col-xlg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="{% url 'pageGenerator:speaker-update' pk=speaker.pk %}">
                      <div class="card shadow-lg rounded bg-light">
                          <div class="card-body">
                              <center> <img src="{% if speaker.image %}{{speaker.image.url}}{% else %}{% endif %}" class="rounded-circle" width="150" height="150" style="object-fit:cover;" />
                                  <h4 class="card-title mt-2">{{speaker}}</h4>
                                  <h5>{{speaker.profession}} | {{speaker.organisation}}</h5>
                              </center>
                              {% if user.is_superuser or user.type == '1' %}
                                  <a href="javascript:void(0)" class="float-right"><i class="mdi mdi-pencil " style="font-size:1.2em;"></i></a>
                              {% endif %}
                          </div>
                      </div>
                    </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="modalCrop" class="modal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Crop Logo</h4>
                {% comment %}
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                {% endcomment %}
            </div>
            <div class="modal-body">
                <img src="" id="event-logo" style="max-width: 100%;">
            </div>
            <div class="modal-footer">
              <div class="btn-group float-left" role="group">
                <button type="button" class="btn btn-secondary js-zoom-in">
                  <span class="fa fa-search-plus"></span>
                </button>
                <button type="button" class="btn btn-secondary js-zoom-out">
                  <span class="fa fa-search-minus"></span>
                </button>
              </div>
              {% comment %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              {% endcomment %}
              <button type="button" class="btn btn-primary js-crop-and-upload">Crop and Save</button>
            </div>
        </div>
    </div>
</div>

<div id="posterCrop" class="modal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myPosterLabel" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myPosterLabel">Crop Poster Image</h4>
                {% comment %}
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                {% endcomment %}
            </div>
            <div class="modal-body">
                <img src="" id="event-poster" style="max-width: 100%;">
            </div>
            <div class="modal-footer">
              <div class="btn-group float-left" role="group">
                <button type="button" class="btn btn-secondary js-zoom-in">
                  <span class="fa fa-search-plus"></span>
                </button>
                <button type="button" class="btn btn-secondary js-zoom-out">
                  <span class="fa fa-search-minus"></span>
                </button>
              </div>
              {% comment %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              {% endcomment %}
              <button type="button" class="btn btn-primary js-crop-poster-and-upload">Crop and Save</button>
            </div>
        </div>
    </div>
</div>

<div id="sposterCrop" class="modal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="mySPosterLabel" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySPosterLabel">Crop Wallpaper</h4>
                {% comment %}
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                {% endcomment %}
            </div>
            <div class="modal-body">
                <img src="" id="event-sposter" style="max-width: 100%;">
            </div>
            <div class="modal-footer">
              <div class="btn-group float-left" role="group">
                <button type="button" class="btn btn-secondary js-zoom-in">
                  <span class="fa fa-search-plus"></span>
                </button>
                <button type="button" class="btn btn-secondary js-zoom-out">
                  <span class="fa fa-search-minus"></span>
                </button>
              </div>
              {% comment %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              {% endcomment %}
              <button type="button" class="btn btn-primary js-crop-sposter-and-upload">Crop and Save</button>
            </div>
        </div>
    </div>
</div>

<div id="posterBgCrop" class="modal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myPosterBgLabel" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myPosterBgLabel">Crop Poster Background</h4>
                {% comment %}
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                {% endcomment %}
            </div>
            <div class="modal-body">
                <img src="" id="poster-bg" style="max-width: 100%;">
            </div>
            <div class="modal-footer">
              <div class="btn-group float-left" role="group">
                <button type="button" class="btn btn-secondary js-zoom-in">
                  <span class="fa fa-search-plus"></span>
                </button>
                <button type="button" class="btn btn-secondary js-zoom-out">
                  <span class="fa fa-search-minus"></span>
                </button>
              </div>
              {% comment %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              {% endcomment %}
              <button type="button" class="btn btn-primary js-crop-poster-bg-and-upload">Crop and Save</button>
            </div>
        </div>
    </div>
</div>

<div id="footerBgCrop" class="modal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myFooterBgLabel" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myFooterBgLabel">Crop Footer Background</h4>
                {% comment %}
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                {% endcomment %}
            </div>
            <div class="modal-body">
                <img src="" id="footer-bg" style="max-width: 100%;">
            </div>
            <div class="modal-footer">
              <div class="btn-group float-left" role="group">
                <button type="button" class="btn btn-secondary js-zoom-in">
                  <span class="fa fa-search-plus"></span>
                </button>
                <button type="button" class="btn btn-secondary js-zoom-out">
                  <span class="fa fa-search-minus"></span>
                </button>
              </div>
              {% comment %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              {% endcomment %}
              <button type="button" class="btn btn-primary js-crop-footer-bg-and-upload">Crop and Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>
<script src="{% static 'dist/js/jquery-cropper.min.js' %}"></script>
<script>

$(function () {

  /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
  $("#id_event_logo").change(function () {
    // ...
    if (this.files && this.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#event-logo").attr("src", e.target.result);
        $("#modalCrop").modal("show");
      }
      reader.readAsDataURL(this.files[0]);
    }
  });

  /* SCRIPTS TO HANDLE THE CROPPER BOX */
  var $image = $("#event-logo");
  // ...
  var cropBoxData;
  var canvasData;
  $("#modalCrop").on("shown.bs.modal", function () {
    $image.cropper({
      viewMode: 1,
      aspectRatio: 3/2,
      minCropBoxWidth: 150,
      minCropBoxHeight: 100,
      ready: function () {
        $image.cropper("setCanvasData", canvasData);
        $image.cropper("setCropBoxData", cropBoxData);
      }
    });
  }).on("hidden.bs.modal", function () {
    cropBoxData = $image.cropper("getCropBoxData");
    canvasData = $image.cropper("getCanvasData");
    $image.cropper("destroy");
  });

  // Enable zoom in button
  $(".js-zoom-in").click(function () {
    $image.cropper("zoom", 0.1);
  });

  // Enable zoom out button
  $(".js-zoom-out").click(function () {
    $image.cropper("zoom", -0.1);
  });

  /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
  $(".js-crop-and-upload").click(function () {
    // ...
    var cropData = $image.cropper("getData");
    $("#id_x").val(cropData["x"]);
    $("#id_y").val(cropData["y"]);
    $("#id_height").val(cropData["height"]);
    $("#id_width").val(cropData["width"]);
    $('#modalCrop').modal('hide');
  });

});

$(function () {

  /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
  $("#id_event_poster_image").change(function () {
    // ...
    if (this.files && this.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#event-poster").attr("src", e.target.result);
        $("#posterCrop").modal("show");
      }
      reader.readAsDataURL(this.files[0]);
    }
  });

  /* SCRIPTS TO HANDLE THE CROPPER BOX */
  var $image = $("#event-poster");
  // ...
  var cropBoxData;
  var canvasData;
  $("#posterCrop").on("shown.bs.modal", function () {
    $image.cropper({
      viewMode: 1,
      aspectRatio: 1/1,
      minCropBoxWidth: 200,
      minCropBoxHeight: 200,
      ready: function () {
        $image.cropper("setCanvasData", canvasData);
        $image.cropper("setCropBoxData", cropBoxData);
      }
    });
  }).on("hidden.bs.modal", function () {
    cropBoxData = $image.cropper("getCropBoxData");
    canvasData = $image.cropper("getCanvasData");
    $image.cropper("destroy");
  });

  // Enable zoom in button
  $(".js-zoom-in").click(function () {
    $image.cropper("zoom", 0.1);
  });

  // Enable zoom out button
  $(".js-zoom-out").click(function () {
    $image.cropper("zoom", -0.1);
  });

  /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
  $(".js-crop-poster-and-upload").click(function () {
    // ...
    var cropData = $image.cropper("getData");
    $("#id_x_poster").val(cropData["x"]);
    $("#id_y_poster").val(cropData["y"]);
    $("#id_height_poster").val(cropData["height"]);
    $("#id_width_poster").val(cropData["width"]);
    $('#posterCrop').modal('hide');
  });

});

$(function () {

  /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
  $("#id_event_slogan_poster").change(function () {
    // ...
    if (this.files && this.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#event-sposter").attr("src", e.target.result);
        $("#sposterCrop").modal("show");
      }
      reader.readAsDataURL(this.files[0]);
    }
  });

  /* SCRIPTS TO HANDLE THE CROPPER BOX */
  var $image = $("#event-sposter");
  // ...
  var cropBoxData;
  var canvasData;
  $("#sposterCrop").on("shown.bs.modal", function () {
    $image.cropper({
      viewMode: 1,
      aspectRatio: 3.3,
      minCropBoxWidth: 198,
      minCropBoxHeight: 60,
      ready: function () {
        $image.cropper("setCanvasData", canvasData);
        $image.cropper("setCropBoxData", cropBoxData);
      }
    });
  }).on("hidden.bs.modal", function () {
    cropBoxData = $image.cropper("getCropBoxData");
    canvasData = $image.cropper("getCanvasData");
    $image.cropper("destroy");
  });

  // Enable zoom in button
  $(".js-zoom-in").click(function () {
    $image.cropper("zoom", 0.1);
  });

  // Enable zoom out button
  $(".js-zoom-out").click(function () {
    $image.cropper("zoom", -0.1);
  });

  /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
  $(".js-crop-sposter-and-upload").click(function () {
    // ...
    var cropData = $image.cropper("getData");
    $("#id_x_spost").val(cropData["x"]);
    $("#id_y_spost").val(cropData["y"]);
    $("#id_height_spost").val(cropData["height"]);
    $("#id_width_spost").val(cropData["width"]);
    $('#sposterCrop').modal('hide');
  });

});

$(function () {

  /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
  $("#id_poster_image_background").change(function () {
    // ...
    if (this.files && this.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#poster-bg").attr("src", e.target.result);
        $("#posterBgCrop").modal("show");
      }
      reader.readAsDataURL(this.files[0]);
    }
  });

  /* SCRIPTS TO HANDLE THE CROPPER BOX */
  var $image = $("#poster-bg");
  // ...
  var cropBoxData;
  var canvasData;
  $("#posterBgCrop").on("shown.bs.modal", function () {
    $image.cropper({
      viewMode: 1,
      aspectRatio: 3.3,
      minCropBoxWidth: 198,
      minCropBoxHeight: 60,
      ready: function () {
        $image.cropper("setCanvasData", canvasData);
        $image.cropper("setCropBoxData", cropBoxData);
      }
    });
  }).on("hidden.bs.modal", function () {
    cropBoxData = $image.cropper("getCropBoxData");
    canvasData = $image.cropper("getCanvasData");
    $image.cropper("destroy");
  });

  // Enable zoom in button
  $(".js-zoom-in").click(function () {
    $image.cropper("zoom", 0.1);
  });

  // Enable zoom out button
  $(".js-zoom-out").click(function () {
    $image.cropper("zoom", -0.1);
  });

  /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
  $(".js-crop-poster-bg-and-upload").click(function () {
    // ...
    var cropData = $image.cropper("getData");
    $("#id_x_logo_bg").val(cropData["x"]);
    $("#id_y_logo_bg").val(cropData["y"]);
    $("#id_height_logo_bg").val(cropData["height"]);
    $("#id_width_logo_bg").val(cropData["width"]);
    $('#posterBgCrop').modal('hide');
  });

});

$(function () {

  /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
  $("#id_footer_background").change(function () {
    // ...
    if (this.files && this.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#footer-bg").attr("src", e.target.result);
        $("#footerBgCrop").modal("show");
      }
      reader.readAsDataURL(this.files[0]);
    }
  });

  /* SCRIPTS TO HANDLE THE CROPPER BOX */
  var $image = $("#footer-bg");
  // ...
  var cropBoxData;
  var canvasData;
  $("#footerBgCrop").on("shown.bs.modal", function () {
    $image.cropper({
      viewMode: 1,
      aspectRatio: 3.3,
      minCropBoxWidth: 198,
      minCropBoxHeight: 60,
      ready: function () {
        $image.cropper("setCanvasData", canvasData);
        $image.cropper("setCropBoxData", cropBoxData);
      }
    });
  }).on("hidden.bs.modal", function () {
    cropBoxData = $image.cropper("getCropBoxData");
    canvasData = $image.cropper("getCanvasData");
    $image.cropper("destroy");
  });

  // Enable zoom in button
  $(".js-zoom-in").click(function () {
    $image.cropper("zoom", 0.1);
  });

  // Enable zoom out button
  $(".js-zoom-out").click(function () {
    $image.cropper("zoom", -0.1);
  });

  /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
  $(".js-crop-footer-bg-and-upload").click(function () {
    // ...
    var cropData = $image.cropper("getData");
    $("#id_x_footer_bg").val(cropData["x"]);
    $("#id_y_footer_bg").val(cropData["y"]);
    $("#id_height_footer_bg").val(cropData["height"]);
    $("#id_width_footer_bg").val(cropData["width"]);
    $('#footerBgCrop').modal('hide');
  });

});

  const switchToForm = () => {
    $('#event-text').removeClass('d-flex').addClass('d-none');
    $('#event-form').removeClass('d-none').addClass('d-flex');
  }

  const switchToText = () => {
    $('#event-text').removeClass('d-none').addClass('d-flex');
    $('#event-form').removeClass('d-flex').addClass('d-none');
  }

  // add and remove forms
  function escapeRegExp(str) {
      return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
  }

  function replaceAll(str, find, replace) {
      return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
  }

  function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }

  function insertPassForm(prefix, el){
    let total_forms = $('#id_'+prefix+'-TOTAL_FORMS').val()
    let newEmptyForm = `
      {% for field in pass_formset.empty_form %}
        <tr class="`+prefix+`-` + total_forms + `-form">
          {% if field.name|contains:'DELETE' %}
            {% render_field field style="display:none;" %}
          {% elif field.field.widget.input_type != 'hidden' %}
            <th>{{field.label_tag}}</th>
            <td>
              <small style="color:red;">{{field.errors | striptags}}</small>
              {{field}}</td>
          {% else %}
            {{field}}
          {% endif %}
        </tr>
      {% endfor %}
      <tr class="border-bottom border-light `+prefix+`-` + total_forms + `-form">
        <td colspan="2">
          <button class="btn btn-small btn-success float-right" type="button" onclick="insert`+capitalizeFirstLetter(prefix)+`Form('`+prefix+`', this);"><i class="fa fa-plus"></i></button>
        </td>
      </tr>`;
    $('#id_'+ prefix +'-TOTAL_FORMS').val(total_forms)
    newEmptyForm = replaceAll(newEmptyForm, '__prefix__', total_forms);
    $(el).replaceWith(`<button class="btn btn-small btn-danger float-right" type="button" onclick="removeForm(`+(total_forms-1)+`, '`+prefix+`');"><i class="fa fa-minus"></i></button>`);
    $('#'+prefix+'-forms').append(newEmptyForm);
    $('#id_'+prefix+'-TOTAL_FORMS').val(++total_forms);
  }

  function insertSessionForm(prefix, el){
    let total_forms = $('#id_'+prefix+'-TOTAL_FORMS').val()
    let newEmptyForm = `
      {% for field in session_formset.empty_form %}
        <tr class="`+prefix+`-` + total_forms + `-form">
          {% if field.name|contains:'DELETE' %}
            {% render_field field style="display:none;" %}
          {% elif field.field.widget.input_type != 'hidden' %}
            <th>{{field.label_tag}}</th>
            <td>
              <small style="color:red;">{{field.errors | striptags}}</small>
              {{field}}</td>
          {% else %}
            {{field}}
          {% endif %}
        </tr>
      {% endfor %}
      <tr class="border-bottom border-light `+prefix+`-` + total_forms + `-form">
        <td colspan="2">
          <button class="btn btn-small btn-success float-right" type="button" onclick="insert`+capitalizeFirstLetter(prefix)+`Form('`+prefix+`', this);"><i class="fa fa-plus"></i></button>
        </td>
      </tr>`;
    $('#id_'+ prefix +'-TOTAL_FORMS').val(total_forms)
    newEmptyForm = replaceAll(newEmptyForm, '__prefix__', total_forms);
    $(el).replaceWith(`<button class="btn btn-small btn-danger float-right" type="button" onclick="removeForm(`+(total_forms-1)+`, '`+prefix+`');"><i class="fa fa-minus"></i></button>`);
    $('#'+prefix+'-forms').append(newEmptyForm);
    $('#id_'+prefix+'-TOTAL_FORMS').val(++total_forms);
  }

  function removeForm(index, prefix){
    $('.'+prefix+'-'+index+'-form').each((j, dom) => {
      $(dom).css('display', 'none');
    });

    $('#id_'+prefix+'-'+index+'-DELETE').prop('checked', true)
  }

  function insertExtraSpeakerFieldForm(prefix, el){
    let total_forms = $('#id_'+prefix+'-TOTAL_FORMS').val()
    let newEmptyForm = `{% for field in extra_speaker_field_formset.empty_form %}
      <tr class="`+prefix+`-`+total_forms+`-form">
        {% if field.name|contains:'DELETE' %}
          {% render_field field style="display:none;" %}
        {% elif field.field.widget.input_type != 'hidden' %}
          <th>
            {{field.label_tag}}
          </th>
          <td>
            <small style="color:red;">{{field.errors | striptags}}</small>
            {{field}}
          </td>
        {% else %}
          {{field}}
        {% endif %}
      </tr>
    {% endfor %}
    <tr class="border-bottom border-light `+prefix+`-` + total_forms + `-form">
      <td colspan="2">
        <button class="btn btn-small btn-success float-right" type="button" onclick="insertExtraSpeakerFieldForm('`+prefix+`', this);"><i class="fa fa-plus"></i></button>
      </td>
    </tr>`;
    newEmptyForm = replaceAll(newEmptyForm, '__prefix__', total_forms);
    $(el).replaceWith(`<button class="btn btn-small btn-danger float-right" type="button" onclick="removeForm(`+(total_forms-1)+`, '`+prefix+`');"><i class="fa fa-minus"></i></button>`);
    $('#'+prefix+'-forms').append(newEmptyForm);
    $('#id_'+prefix+'-TOTAL_FORMS').val(++total_forms);
  }

  $('select').each((i, sel) => {
    $(sel).change(function(){
      choiceTypeFieldId = '#' + $(this).attr('id').replace('type', 'dropdown_choices');
      console.log(choiceTypeFieldId);
      if($(this).val() == '4'){
        $(choiceTypeFieldId).removeAttr('readonly')
      }
      else{
        $(choiceTypeFieldId).attr('readonly', true)
      }
    })
  })

  $(document).ready(function(){
    $('textarea').each(function(){
      if($(this).text() != ''){
        $(this).removeAttr('readonly')
      }
    })
  })
</script>

{% endblock %}
