{% extends 'base.html' %}
{% load static %}
{% block title %}
Update Event
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}">
  <style media="screen">
    label{
      margin-bottom: -0.5rem;
    }

    .noresize{
      resize: none;
    }
  </style>
{% endblock %}

{% block breadcrumb %}
Event Update - {{event.event_name}}
{% endblock %}

{% block content %}
  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-lg-6 col-xlg-6 col-md-6 col-sm-12 col-xs-12 mx-auto">
          <div class="card">
            <h4 class="p-2 card-title bg-info text-white self-align-center">Update Event Details</h4>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <table class="table table-borderless">
                  <tbody>
                    {% for field in form %}
                      <tr>
                        <th>{{field.label_tag}}</th>
                        <td>{{field}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <input type="submit" class="btn btn-outline-success btn-rounded btn-sm float-right ml-2" name="submit_event" value="Update Event">
                <a href="{% url 'pageGenerator:event-detail' pk=event.pk %}" class="btn btn-outline-info btn-sm btn-rounded float-right">Cancel</a>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
