{% extends 'base.html' %}
{% load static %}
{% block title %}
Events
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}">
  <style media="screen">
    label{
      margin-bottom: -0.5rem;
    }

    .noresize{
      resize: none;
    }
  </style>
{% endblock %}

{% block breadcrumb %}
  Events
{% endblock %}

{% block buttons %}
  <li class="breadcrumb-item">
    <a class="float-right breadcrumb-link" href="{% url 'pageGenerator:new-event' %}">
      <button type="button" class="btn btn-outline-success btn-sm btn-rounded" name="button"><i class="fa fa-plus"></i> New Event</button>
    </a>
  </li>
{% endblock %}

{% block content %}
  <div class="page-content container-fluid">
    <div class="row">
      {% for event in events %}
      <div class="col-lg-3 col-xlg-3 col-md-3 col-sm-6 col-xs-12">
          <a href="{% url 'pageGenerator:event-detail' pk=event.pk %}">
            <div class="card">
                <div class="card-body">
                    <center> <img src="{% if event.event_logo %}{{event.event_logo.url}}{% else %}{% endif %}" class="rounded-circle" width="150" height="150" style="object-fit:cover;" />
                        <h4 class="card-title mt-2">{{event}}</h4>
                    </center>
                    {% if user.is_superuser or user.type == '1' %}
                        <a href="javascript:void(0)" class="float-right"><i class="mdi mdi-pencil " style="font-size:1.2em;"></i></a>
                    {% endif %}
                </div>
            </div>
          </a>
      </div>
      {% endfor %}
    </div>

    {% comment %}
    {% if inactive_users|length != 0 %}
      <div class="row mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Inactive Users List</h4>
          </div>
          <div class="card-body border-top">
            <div class="row pt-3">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="list-group">
                  {% for item in inactive_users %}
                    <li class="list-group-item"><a href="javascript:void(0)" data-toggle="modal" data-target="#userUpdateModal" onclick="populateUpdateForm({{item.pk}})">{{item.name}}</a></li>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% endcomment %}

  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js' %}"></script>
  <script>
    $(".bt-switch input[type='checkbox']").bootstrapSwitch();
    var radioswitch = function() {
        var bt = function() {
            $(".radio-switch").on("switch-change", function() {
                $(".radio-switch").bootstrapSwitch("toggleRadioState")
            }), $(".radio-switch").on("switch-change", function() {
                $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck")
            }), $(".radio-switch").on("switch-change", function() {
                $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck", !1)
            })
        };
        return {
            init: function() {
                bt()
            }
        }
    }();
    $(document).ready(function() {
        radioswitch.init()
    });
    </script>
{% endblock %}
