{% load static %}
{% load filters %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{event}} - Presenter Materials</title>
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic|Montserrat:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <style media="screen">
      .f-monteserrat{
        font-family: Montserrat!important;
      }

      .f-opensans{
        font-family: Open sans-serif!important;
      }

      bode{
        font-family: Open sans-serif!important;
      }

      .light{
        color: #535353!important;
      }

      @media(min-width: 992px) {
        .crop-top{
            margin-top: -300px;
        }
      }

      .logo-background{
        background-image: url(http://{{domain|escape}}/media/{{event.poster_image_background}});
        background-repeat: cover;
        background-size: auto;
      }

      .footer-bg{
        background-image: url(http://{{domain|escape}}/media/{{event.footer_background}});
        background-repeat: no-repeat;
        background-size: auto;
      }

      /* .jssocials-share-link { border-radius: 50%; } */

    </style>

    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>

    {% comment %}
      <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ee313c0d868b80012691509&product=image-share-buttons&cms=website' async='async'></script>
    {% endcomment %}
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5ee313c0d868b80012691509&product=inline-share-buttons&cms=website' async='async'></script>

  </head>
  <body>
    <div id="main-wrapper" style="min-height:100vh!important;">
      <div class="row">
        <img src="{{event.event_slogan_poster.url}}" class="no-share" alt="slogan-poster" style="width:100%!important; object-fit:cover;">
        <div class="col-12 text-white d-flex justify-content-center" style="background-color:#3e146b!important;">
          <h2 class="f-opensans m-4" style="font-size: 30px!important;">{{event.main_title}}</h2>
        </div>

        <div class="col-md-8 col-sm-12 mt-4 images mx-auto mb-5">
          {% if event.speaker_tile %}
            <img src="{{event.speaker_tile.url}}" alt="Speakers Tile" class="no-share mx-auto d-block" style="width:100%!important;">
          {% endif %}
        </div>
      </div>

      <div class="container mt-4">
        <div class="row h-600">
          <div class="col-md-6 col-sm-12 my-auto mx-auto">
            <img src="{{event.event_logo.url}}" alt="event-logo" class="no-share mx-auto d-block" width="400">
          </div>
          <div class="col-md-6 col-sm-12 my-auto mx-auto">
            <h2 class="f-opensans" style="font-size:2.5rem!important; text-align:center; color: #535353;" ><strong>Promotion&nbsp;Period:</strong></h2>

            <h3 class="f-opensans" style="color:#351c75; font-size:2rem!important; text-align:center;">
              <strong>{{event.start_date|date:'F d'}} - {{event.end_date|date:'F d'}}</strong>
            </h3>
          </div>
          <div class="col-md-6 col-sm-12 my-auto mt-3">
            <h2 style="font-size:2.5rem!important; text-align:center; color: #999999;" class="f-opensans mb-4"> <u><strong>Discounts & <br /> Pricing Schedule:</strong></u> </h2>

            <h3 style="color:#351c75; font-size:2rem!important; text-align:center;" class="f-opensans">
              <strong>Tickets Available: <br /> {{event.tickets_available}}</strong>
            </h3>

            {% for pass in event.passes.all %}
              <h3 style="font-size:2rem!important; text-align:center;" class="f-opensans mt-3"><strong>{{pass}}: </strong>{{event.company.currency}}{{pass.price}}</h3>
            {% endfor %}
          </div>
          <div class="col-md-6 col-sm-12 mt-3">
            <img src="{{event.event_logo.url}}" alt="event-logo" class="no-share mx-auto d-block" width="400" style="">
          </div>
        </div>
      </div>

      <div class="container-fluid mt-5">
        <div class="row logo-background">
          <div class="col-md-4 col-sm-12 mx-auto p-0">
            <img src="{{event.event_poster_image.url}}" alt="event-logo" class="no-share mx-auto d-block" width="450" height="450">
          </div>
        </div>

        <div class="row justify-content-center text-white f-opensans" style="margin-top:-30px; padding-top:80px; background-color:#92278f; min-width:400px;">
          <div class="container">
            <h3 style="text-align:center; font-size:2rem;">Promotional Materials</h3>

            <div class="row justify-content-center mt-4">
              <div class="col-md-8 col-sm-12">
                <p style="font-size:20px;">Everything you need here to promote this offering to your community is here! We have included basic email copy, promo graphics and social media copy below. Feel free to use this copy, edit it or create your own. Whatever works best for you and your audience.</p>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-10 col-sm-12 mt-3" style="font-size:16px;">
                {{event.promotional_text|safe}}
              </div>

              <div class="col-md-10 col-sm-12 mt-5">
                <p style="font-size:24px;">
                  <strong>
                    <u>Email Copy</u>
                  </strong>
                </p>
              </div>

              <div class="col-md-10 col-sm-12 mt-2 mb-4" style="font-size:16px;">
                {{event.email_copy}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row d-flex justify-content-center" style="background-color:#3e146b!important;">
          <div class="col-md-8 col-sm-12 p-5">
            <h2 class="text-white f-opensans" style="font-size: 3rem; text-align:center;">{{event}} Email and Social Media Images</h2>
          </div>
        </div>
      </div>

        {% for host in event.speakers.all|chat_hosts %}
        <div class="container-fluid">
          <div class="row d-flex" style="background-color:#92278f!important;">
            <div class="col-12 p-4">
              <h3 class="text-white mb-0 f-opensans" style="font-size:2rem; text-align:center;">{{event.host_title}} - {{host}}</h3>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row d-flex justify-content-center pt-3">
            <div class="col-md-3 col-sm-12 p-2">
              <select class="form-control f-opensans" name="image_request" onchange="fetchImage({{host.pk}}, this)">
                <option value="1">Facebook, Email</option>
                <option value="2">Instagram, Twitter</option>
                <option value="3">Instagram Story, Facebook Story, IGTV</option>
              </select>
            </div>
          </div>

          <div class="row justify-content-center mb-1">
            <div class="col-md-4 col-sm-12" style="text-align:center!important;">
              <img src="{{host.fb_image.url}}" id="poster-{{host.pk}}" class="img-fluid align-self-center" alt="" data-image="http://{{domain|escape}}{{host.fb_image.url}}">
            </div>
          </div>

          <div class="row justify-content-center mb-1" id="btn-{{host.pk}}">
            <div class="sharethis-inline-share-buttons" data-url="http://{{domain|escape}}{{host.fb_image.url}}" ></div>
          </div>
        </div>
        {% endfor %}

        {% comment %}
          sessions start here
        {% endcomment %}
        {% for session in event.sessions.all %}
        <div class="container-fluid">
          <div class="row d-flex justify-content-center" style="background-color:#3e146b!important;">
            <div class="col-md-12 col-sm-12 p-5">
              <h3 class="text-white f-opensans" style="font-size: 1.8rem; text-align:center;">{{session}}: {{session.title}}</h3>
              <h3 class="text-white f-opensans mt-4 mb-0" style="font-size: 1.2rem; text-align:center;">{{session.subtitle}}</h3>
            </div>
          </div>
        </div>

          {% for host in session.speakers.all|is_active %}
            {% if not host|not_chat_host %}
            <div class="container-fluid">
              <div class="row d-flex" style="background-color:#92278f!important;">
                <div class="col-12 p-4">
                  <h3 class="text-white mb-0 f-opensans" style="font-size:2rem; text-align:center;">{{host}}</h3>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row d-flex justify-content-center pt-3">
                <div class="col-md-3 col-sm-12 p-2">
                  <select class="form-control f-opensans" name="image_request" onchange="fetchImage({{host.pk}}, this)">
                    <option value="1">Facebook, Email</option>
                    <option value="2">Instagram, Twitter</option>
                    <option value="3">Instagram Story, Facebook Story, IGTV</option>
                  </select>
                </div>
              </div>

              <div class="row d-flex justify-content-center mb-1">
                <div class="col-md-4 col-sm-12" style="text-align:center!important;">
                  <img src="{{host.fb_image.url}}" id="poster-{{host.pk}}" class="img-fluid image-share-buttons" alt="">
                </div>
              </div>

              <div class="row justify-content-center mb-1" id="btn-{{host.pk}}">
                <div class="sharethis-inline-share-buttons" data-url="http://{{domain|escape}}{{host.fb_image.url}}"></div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        {% endfor %}

        <div class="container-fluid">
          <div class="row">
            <img src="{{event.footer_background.url}}" alt="Footer Background" class="img-fluid no-share" style="width:100%!important;">
          </div>
        </div>
    </div>

    <script type="text/javascript">
      const fetchImage = (pk, el) => {
        let img = $(el).val();
        $.ajax({
          url: '/events/fetch_image/'+pk+'/'+img+'/',
          dataType: 'json',
          success: (res) => {
            if(res['success']==true){
              console.log('working');
              console.log('http://{{domain|escape}}'+res['image']);
              $('#poster-'+res['pk']).attr('src', res['image']);
              $('#btn-'+res['pk']+' div:first-child').attr('data-url', 'http://{{domain|escape}}'+res['image']);
            }
          },
          error: (data) => {}
        })
      }
    </script>
  </body>
</html>
