<!DOCTYPE html>
{% load static %}
{% load filters %}
{% load widget_tweaks %}
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/logos/logo.png' %}">
    <title>Speaker Form</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/ampleadmin/" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.css">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.min.css' %}" rel="stylesheet">

    <style media="screen">
    .modal-dialog{
        position: relative;
        display: table; /* This is important */
        overflow-y: auto;
        overflow-x: auto;
        width: auto;
        min-width: 300px;
    }

    /* .modal-dialog {
        max-width: 100%;
        width: auto !important;
        display: inline-block;
        overflow-y: auto;
    } */

    /* @media (min-width: 576px)
    {
      .modal-dialog {
          max-width: 100%;
          width: auto !important;
          margin: 1.75rem auto;
      }
    } */

    /* .modal {
      z-index: -1;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    .modal-open .modal {
       z-index: 1050;
    } */

    /* .modal {
        min-width: auto;
        max-width: fit-content;
    } */

    label {
      margin-bottom: -0.5rem!important;
    }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:#f6f6f6;">
            <div class="auth-box" style="margin-top:3%!important;margin-bottom:3%!important;">
                <div id="loginform">
                    <div class="logo">
                        <span class="db"><img src="{{event.event_logo.url}}" alt="homepage" class="light-logo" height="100" width="100" /></span>
                        <h4 class="font-medium mt-3">{{event.event_name}}</h4>
                        <h5 class="font-medium mb-3 mt-3">REGISTRATION FORM</h5>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <div class="col-12">
                            <form class="form-horizontal mt-3" method="post" enctype="multipart/form-data" id="formUpload">
                                {% csrf_token %}
                                <small style="color:red;">{{form.non_field_errors | striptags}}</small>
                                {% for field in form %}
                                  {% if field.field.widget.input_type != 'hidden' %}
                                    <small><label>{{field.label_tag}}</label></small>
                                    <small style="color:red;">{{field.errors | striptags}}</small>
                                    <div class="input-group mb-3">
                                        {{field}}
                                    </div>
                                  {% else %}
                                    {{field}}
                                  {% endif %}
                                {% endfor %}
                                <div class="form-group text-center">
                                    <div class="col-xs-12 pb-3">
                                        <input class="btn btn-block btn-info" type="submit" value="REGISTER">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalCrop" class="modal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-modal="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Crop Image</h4>
                    {% comment %}
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    {% endcomment %}
                </div>
                <div class="modal-body">
                    <img src="" id="image" style="max-width: 100%;">
                </div>
                <div class="modal-footer">
                  <div class="btn-group float-left" role="group">
                    <button type="button" class="btn btn-secondary js-zoom-in">
                      <span class="fa fa-search-plus"></span>
                    </button>
                    <button type="button" class="btn btn-secondary js-zoom-out">
                      <span class="fa fa-search-minus"></span>
                    </button>
                  </div>
                  {% comment %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  {% endcomment %}
                  <button type="button" class="btn btn-primary js-crop-and-upload">Crop and Save</button>
                </div>
            </div>
        </div>
    </div>

    {# <!-- MODAL TO CROP THE IMAGE -->
    <div class="modal fade" id="modalCrop">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Crop the photo</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="" id="image" style="max-width: 100%;">
          </div>
          <div class="modal-footer">
            <div class="btn-group float-left" role="group">
              <button type="button" class="btn btn-default js-zoom-in">
                <span class="fa fa-search-plus"></span>
              </button>
              <button type="button" class="btn btn-default js-zoom-out">
                <span class="fa fa-search-minus"></span>
              </button>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary js-crop-and-upload">Crop and Save</button>
          </div>
        </div>
      </div>
    </div> #}
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.min.js"></script>
    <script src="{% static 'dist/js/jquery-cropper.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    // ==============================================================
    // Login and Recover Password
    // ==============================================================
    $('#to-recover').on("click", function() {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
    });

    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_image").change(function () {
        // ...
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      // ...
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      // Enable zoom in button
      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      // Enable zoom out button
      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        // ...
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $('#modalCrop').modal('hide');
      });

    });

    // $('#modalCrop').on('show.bs.modal', function () {
    //    $(this).find('.modal-body').css({
    //           width:'auto',
    //           height:'auto',
    //           'max-height':'100%'
    //    });
    // });

    $(document).ready(() => {
      $('.mydatepicker').datepicker({
          format: 'dd/mm/yyyy',
          todayHighlight: true,
          autoclose:true
      });
    })
    </script>
</body>

</html>
