{% extends "base.html" %}

{% load static %}
{% load filters %}
{% load widget_tweaks %}

{% block title %}
Speaker Update - {{speaker.name}}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}">
{% endblock %}

{% block breadcrumb %}
  Speaker Update
{% endblock %}

{% block content %}
  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-lg-6 col-xlg-6 col-md-6 col-sm-12 col-xs-12 mx-auto">
          <div class="card">
            <h4 class="p-2 card-title bg-info text-white self-align-center">Update Speaker Details - {{speaker.name}}</h4>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                <small style="color:red;">{{form.non_field_errors | striptags}}</small>
                <table class="table table-borderless">
                  <tbody>
                    {% for field in form %}
                      <tr>
                        <th style="vertical-align:middle!important;">{{field.label_tag}}</th>
                        <td style="vertical-align:middle!important;">
                          <small style="color:red;">{{field.errors | striptags}}</small>
                          {% if field|input_type == 'CheckboxInput' %}
                            <div class="bt-switch radio-switch">
                              {{field}}
                            </div>
                          {% else %}
                            {{field}}
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <input type="submit" class="btn btn-outline-success btn-rounded btn-sm float-right ml-2" name="update" value="Update">
                <a href="{% url 'pageGenerator:event-detail' pk=speaker.event.pk %}" class="btn btn-outline-info btn-sm btn-rounded float-right">Cancel</a>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script src="{% static 'assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js' %}"></script>
<script>
  $(".bt-switch input[type='checkbox']").bootstrapSwitch();
  var radioswitch = function() {
      var bt = function() {
          $(".radio-switch").on("switch-change", function() {
              $(".radio-switch").bootstrapSwitch("toggleRadioState")
          }), $(".radio-switch").on("switch-change", function() {
              $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck")
          }), $(".radio-switch").on("switch-change", function() {
              $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck", !1)
          })
      };
      return {
          init: function() {
              bt()
          }
      }
  }();
  $(document).ready(function() {
      radioswitch.init()
  });
</script>
{% endblock %}
